<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <%- include("bootstrap-css") %> 
    </head>
    <body>
        <h1>Sewa Mobil Aq</h1>
        <button class="btn btn-primary"><a href="/login" style="color:white;">Login</a></button>
        <%- include("bootstrap-js") %> 
    </body>
</html>