<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
        <%- include("bootstrap-css") %>
    </head>
    <body>
        <form action="/login" method="POST">
            Username:
            <input type="text" name="username"><br>
            Password:
            <input type="password" name="password"><br>
            <input type="submit" value="Login">
        </form>
        <%- include("partials/showMsg") %> 
        <%- include("bootstrap-js") %> 
    </body>
</html>