<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
	<div class="container">
		<!-- Navbar content -->
		<ul class="navbar-nav">
			<li class="nav-item active">
				<a class="nav-link" href="/<%= modelName %>">Home</a>
			</li>
			<li class="nav-item active">
<<<<<<< HEAD
				<% if (userType === 'renter') { %>
					<a class="nav-link" href="/bookingdetail">Booking Detail</a>
					<a class="nav-link" href="/availablecar">Available Car</a>
				<% } %>
				// if logged in then show logout else login button 
				<a class="nav-link" href="/login">Logout</a>
=======
				<%# if () //if logged in then show logout else login button %> 
				<a class="nav-link" href="/logout">Logout</a>
>>>>>>> 89e0d75f1f33c10aa2e4df7e2eee1fbba48a771f
			</li>
		</ul>
	</div>
</nav>